body{
  background-image: url("images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bar{
    display: inline-block;
    width: 100%;
    height: 5em;
    background-color: #00B93E;
}
nav a {
  text-decoration: none;
    color: #00B93E;
    font-family: 'Marck Script', cursive;
    border-right: 1px solid #00B93E;
}
.links{
  float: right;
}
.loginBox{
  border: solid 1em #00B93E;
    border-radius: 9%;
    width: 40%;
    height: 25em;
    margin: -1% auto;
    background-color: rgba(127, 148, 232, 0.78);
  }
.eventsBox{
  border: solid 1em #00B93E;
    border-radius: 9%;
    width: 40%;
    height: 25em;
    margin-top: -.5%;
    overflow: scroll;
    background-color: rgba(127, 148, 232, 0.78);

  }
.myEventsBox{
  border: solid 1em #00B93E;
    border-radius: 9%;
    width: 40%;
    height: 25em;
    margin-top: -.5%;
    float: right;
    overflow: scroll;
    background-color: rgba(127, 148, 232, 0.78);

}
.v {
  font-size: 2em;
}
.bar h1 {
  color: #2357eb;
  font-family: 'Marck Script', cursive;
  font-size: 4em;
  display: inline-block;
  margin: -2.5% 0 0 1%;
}

.bar h3{
    color: #2357eb;
    float: right;
    margin: -0.5% 4% 0 0;
    font-family: 'Marck Script', cursive;
    font-size: 3em;
}
.userInfo{
  height: 22em;
  width: 40%;
  display: inline-block;
  border-left: solid 1em #00B93E;
  margin-top: -.5%;
}
.newEvent{
  width: 100%;
    height: 12em;
    border: solid 1em #00B93E;
    border-radius: 28%;
    text-align: center;
    background-color: rgba(127, 148, 232, 0.78);
    margin-left: -3%;
}
.upload{
  margin: 2% auto;
}
